body,
html {
    margin: 0;
    padding: 0;

  }


.container, .mainContent, .tbul, .rnavitem, .flexbox, 
.flex-col, 
.flex, .flexli  {
    display: flex;
}

.header {
    margin: 0;
    background-color: rgb(196, 196, 196);
    border-style: solid;
    border-spacing: 1px;
    border-width: 10px;
    border-color: rgb(153, 153, 153);
    box-shadow: 5px 5px black;
}

.mainContent {

    justify-content: center;
    
    gap: 6%;
    margin-top: 1rem;
}

.tbli,
.tbul {
    contain: content;
    padding: 0;
    margin: 0;
}

.tbh {
    background-color: grey;
    width: 100%;
    
    text-align: center;
}

.tbh,
.tbred {
    font-weight: 600;
    color: white;
    padding: 1rem;
}

.tbul {
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tbl {
    border: 2px black solid;
    box-shadow: 3px 2px red;
    padding: 0rem;
    width: 2rem;
    margin: 4px;
    text-align: center;
}

.tbs {
    border: 2px black solid;
    box-shadow: 3px 2px red;
    padding: 0.2rem;
    margin: 0.5rem;
    text-align: center;
}



.space:hover {
    color: rgba(0, 0, 0, 0);
}

li button {
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    padding: 7.5px;
    border: none;
}

button {
    font-family: monospace;
}

.toolbar {
    border: 5px solid #000;
    box-shadow: 3px 2px red;
    padding: 0;
    background-color: lightgray;
}

.container {
    border-style: solid;
    border-width: 12px;
    border-color: pink;
    box-shadow: 15px 15px red;
    padding: 0;
    margin: 0;
    width: max-content;
    height: max-content;
    justify-content: center;
}

.header {
    flex-direction: column;
}

.block {
    border-width: 4px;
    border-color: #ff0000;
    border-style: solid;
    padding: 10px;
    background-color: black;
    border-radius: 0;
    margin: 0;
}

.hover {
    background-color: blue;
    transition: background-color 0.2 1s;
    transition-timing-function: linear;
}

.tbred:hover,
.btR:hover {
    color: #ff0000;
}

.red,
.tbred,
.btR {
    background-color: #ff0000;
}

.tbgreen:hover,
.btG:hover {
    color: #00ff00;
}

.green,
.tbgreen,
.btG {
    background-color: #00ff00;
}

.tbblue:hover,
.btB:hover {
    color: #0000ff;
}

.blue,
.tbblue,
.btB {
    background-color: #0000ff;
}

.black,
.tbblack,
.btK {
    background-color: black;
    color: white;
}

.tbblack:hover,
.btK:hover {
    color: black;
}

.yellow,
.tbyellow,
.btY {
    background-color: yellow;
}

.tbyellow:hover,
.btY:hover {
    color: yellow;
}
.tborange:hover,
.btO:hover  {
    color: orange;
}

.orange,
.tborange,
.btO {
    background-color: orange;
}

.white,
.tbwhite,
.btW {
    background-color: white;
}

.tbwhite:hover,
.btW:hover {
    color: white;
}

.pink,
.tbpink,
.btP {
    background-color: pink;
}

.tbpink:hover,
.btP:hover {
    color: pink;
}

.indigo,
.tbindigo,
.btI {
    background-color: indigo;
    color: white;
}

.tbindigo:hover,
.btI:hover {
    color: indigo;
}

.flexli {

    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    margin: 0;
    padding: 0srem;
}

#colorPicker {
    width: 2rem;
    height: 2rem;
}

.flex {

    justify-content: center;
}

.flex-col  {

    flex-direction: column;
    padding: 4px;
}

.bor {
    border: 2px green solid;
}

.htext {
    font-weight: 600;
    margin: 3px;
    font-size: 1.3em;
}

.rnavitem {
    margin-right: 2%;
    list-style: none;
}

.rnavitem a {
    text-underline-offset: 4px;
}

.rnavitem a:hover {
    color: red;
}

.add {
    align-items: flex-end;
}

.flex-head {
    align-items: center;
}

.li .inp {
    gap: 0.5rem;
}

#range1,
#range2 {
    width: 100px;
    height: 30px;

    cursor: pointer;
}

.popup {
    display: block;
    position: absolute;
    contain: content;
    left: 50%;
    margin-left: -40%;
    width: 80vw;
    margin-top: 2%;
    z-index: 11;
    height: 60vh;
    background-color: #00005fe1;
    border: 2rem rgb(187, 187, 187) solid;
    padding-bottom: 1.5rem;
}

body {
    font-family: monospace;
}

h1,
h2,
h3 {
    font-family: "Press Start 2P", monospace;
}



.htext {
    font-size: 0.7rem;
}

h1 {
    color: rgb(255, 255, 255);
}

.popup-title {
    justify-content: space-between;
}

.popup-left-heading {
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 2rem;
    color: rgb(30, 255, 0);
    border-radius: 0.2rem;

    background-color: rgba(0, 0, 80, 0.918);

    text-align: left;
}

.popup-right-heading {
    padding: 1.5rem;
    margin-right: 0.5rem;
}

.x {
    padding: 1rem;
    border-radius: 1rem;
    border: 0.36rem solid black;
    box-shadow: 4px 4px red;
    background-color: #acacac;
}

.x:hover {
    background-color: rgb(196, 196, 196);
}

.x:active {
    background-color: rgb(223, 223, 223);
}

.plug {
    color: lightgreen;
    text-align: center;
    padding: 1rem;
}

.pluglink {
    color: greenyellow;
    letter-spacing: 0.2ch;
}

.pluglink:hover {
    color: white;
}

.pophide {
    visibility: hidden;
}

.rnavitem {
    align-items: center;
    gap: 1rem;
}


.rnavitem a {
    color: darkblue;
}

.help {
    background-color: rgba(194, 194, 194, 0.514);
    display: inline;
}

.help:hover {
    background-color: pink;
}

.help:active {
    background-color: white;
}

header {
    top: 0;
    position: sticky;
    z-index: 10;
}

.dot {
    color: magenta;
    background-color: lime;
    width: 4rem;
    height: 4rem;
    z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%); 
}

@media (max-width: 550px) {
    
    

    body {
        width: 100%;
        background-color: blue;
        display: flex;
        flex-direction: column;
    }

    .header,
    .container, .mainContent, .tbul, .rnavitem, .flexbox, 
    .flex-col, 
    .flex, .flexli  {

padding: 0;
margin: 0;
gap: 0;
    }
    
    .header{
        contain: content;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        min-width: 100%;
 
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }


    .popup {
        margin: 0;
        padding: 0;
        display: none;
    }

    .mainContent {
      flex-wrap: wrap;
        display: flex; 
    }


        .tbul {
            flex-direction: row;
        }
    
    
    }

.newCont {
    background-color: yellow;
   }


.newNav {
   background-color: rgb(196, 196, 196);
   border-style: solid;
    display: flex;
    border-spacing: 1px;
    border-width: 10px;
    box-shadow: 5px 5px black;
    justify-content: space-between;
    padding: 1%;



}
.newToolNav,.newHelpNav {
   
}


.newMain {
    display:flex;
    justify-content: space-around;

    
}


.toolNavUL, .newHelpUL, .tools {
    display: flex;
    padding: 10px;
    list-style: none;
}

.smallTool {
    margin: 10px;
}

.tools {
    font-weight: 600;
    border: 5px solid black;
    color: white;
    padding: 5px;
    background-color: grey;
    contain: content;
    align-self: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.new-flex-form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

#range2, #range1 {
    width: 100%;
}

.toolNavUL {
    width: 100%;
    gap: 10%;
    justify-content: space-evenly;
}

.btR, .btO, .btY, .btG, .btB, .btI,
.btP, .btW, .btK, .space {
    border: 2px black solid;
    padding: 12.5px 15px ;
    margin: 4px;
    
}


.btR, .btO, .btY, .btG, .btB, .btI,
.btP, .btW, .btK, .space, .tools {
box-shadow: 3px 2px red;
}


.newCanvas {
    align-self: center;
    flex-basis: 0;
    display: flex;
    flex-shrink: 1;
    flex-grow: 5;

}

.tools {
    flex: 0 1 1;
}

@media (max-width: 650px) {
    body {
        background-color: peru;
    }
    .newMain {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 0;
    }
    .tools {
        margin: 0;
        align-self: stretch;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


.btR, .btO, .btY, .btG, .btB, .btI,
.btP, .btW, .btK, .space, .tools {
    padding: 7px;
flex: 1 0 1;}
}